*.pyc
__pycache__/

# IDE's stuff
*.layout
.idea

# Virtualenv
venv/*

# Distribution 
dist/
build/
eggs/
.eggs/
*.egg
*.egg-info


# Coverage
htmlcov/
.coverage
.coverage.*
tests/coverage

# Pytest
.pytest_cache
__pycache__/